body{
    background: linear-gradient(to right,rgb(150, 150, 241),rgb(80, 80, 212),blue);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bg-color{
   background: rgb(252, 84, 6);
}

.navbar{
   padding:50px;
}

#main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    gap: 1em;
    padding: 10%;
    
}

#carda{
    background: red;
    flex : 0 1 24%;
    padding : 10px;
    border-radius: 20px;
    margin: 10px;
    width: 300px;
    gap: 1em;

}